* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*DEFAULT  GRID*/

.grid {
	height: 500px;
	width: 500px;
	display: grid;
}
.grid:hover {
	cursor: pointer;
}

.default-color {
	background-color: white;
	outline: 0.1px solid black;
}

/* CHANGE COLOR ON HOVER */
