* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	text-align: center;
}

h1 {
	margin-bottom: 50px;
	margin-top: 20px;
}

/*DEFAULT  GRID*/

.grid-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid {
	display: flex;
	flex-wrap: wrap;
	width: 400px;
	height: 400px;
}

.grid-cell {
	border: 0.2px solid black;
	height: 25px;
	width: 25px;
}

/* CHANGE COLOR ON HOVER */
